<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous"></link>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />

    <title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE">ogarne.to</title>
</head>


<body>


<div class="container">
    <div class="row">
        <div class="col-md-8 push-md-2">

            <!-- NAVIGATION BAR -->
            <nav th:fragment="nav" class="navbar navbar-toggleable-md navbar-light bg-white pl-0">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <a class="navbar-brand ob-brand" th:href="@{/}">ogarne.to</a>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" th:href="@{/posts}">BLOG</a>
                        <a class="nav-item nav-link" href="#">O MNIE</a>
                        <a class="nav-item nav-link" href="#">KONTAKT</a>

                    </div>
                </div>
            </nav>
            <!-- /NAVIGATION BAR -->

            <!--  FLASH MESSAGE -->

            <div th:fragment="flash" th:if="${flash != null}"
                 th:classappend="'alert-' + (${#strings.toLowerCase(flash.status) == 'success'} ? 'success' : 'danger')"
                 class="alert" role="alert" th:text="${flash.message}"></div>

            <!--  /FLASH MESSAGE -->

            <!--CONTENT!!!-->
            <section layout:fragment="content"></section>
            <!--//CONTENT!!!-->


        </div>

        <!--  This part is seen only if logged user is ADMIN -->
        <div class="col-md-2 push-md-2" sec:authorize="hasRole('ROLE_ADMIN')">
            <div th:fragment="adminnav(active)">
                <ul class="nav flex-column my-4 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${active == 'posts'} ? 'active' : ''" th:href="@{/admin/}">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${active == 'images'} ? 'active' : ''"
                           th:href="@{/admin/images}">Images</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${active == 'menu'} ? 'active' : ''"
                           th:href="@{/admin/editmenu}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${active == 'users'} ? 'active' : ''" th:href="@{/admin/editusers}">Users</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:classappend="${active == 'add'} ? 'active' : ''"
                           data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Add</a>
                        <div class="dropdown-menu  ">
                            <a class="dropdown-item" th:href="@{/admin/addPost}">Post</a>
                            <a class="dropdown-item" th:href="@{/admin/addFile}">Image</a>

                        </div>
                    </li>
                    <li class="nav-item px-3 ">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-outline-primary btn-sm">Logout</button>
                        </form>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</div>


<div th:fragment="scripts">
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

</div>


</body>
</html>