<!DOCTYPE html>
<html lang="pl" layout:decorator="layout/base"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--TODO: add 'edit post' button next to the title-->

<head>
    <!-- FACEBOOK OPEN GRAPH MARKERS -->
    <meta property="og:url"                th:content="@{${#httpServletRequest.requestURL}}"  />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              th:content="${page.title}" />
    <meta property="og:description"        th:content="${description}" />
    <meta th:if="${page.imagePaths != null}"
          th:each="path : ${page.imagePaths}"
          property="og:image"
          th:content="@{|${#httpServletRequest.getScheme()}://${#httpServletRequest.getServerName()}:${#httpServletRequest.getServerPort()}${path}|}" />
    <!-- /FACEBOOK OPEN GRAPH MARKERS -->
</head>


<body>
<section layout:fragment="content">

    <div th:object="${page}">
        <h2 th:text="*{#strings.toUpperCase(title)}" class="mt-3">
        </h2>



        <p th:utext="*{body}"></p>




    </div>

</section>


</body>
</html>