<!DOCTYPE html>
<html lang="pl" layout:decorator="layout/base"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<body>
<section layout:fragment="content">

    <h2 class="ob-border pb-3 mb-3">Najnowsze posty</h2>
    <div th:each="post : ${posts}" class="pb-2 mb-4">
        <div class="d-flex justify-content-start mb-2">
            <a th:href="@{|/posts/${post.id}|}"><h3 class="ob-orange" th:text="${post.title}"></h3></a>
            <div class="d-flex flex-wrap ml-auto align-content-start ob-smaller">
                <span class="ob-nowrap">
                    <span class="fa fa-calendar-o mt-1" aria-hidden="true"></span>
                <span class="ml-2 mr-2 ob-nowrap" th:text="${#dates.format(post.dateCreated, 'dd-MM-yy')}"></span>
                </span>
                <span class="ob-nowrap">
                    <span class="fa fa-folder-open-o mt-1" aria-hidden="true"></span>
                <span class="ml-2 ob-nowrap"  th:text="${post.category.name}"></span>
                </span>

            </div>

        </div>
        <div  th:utext="${post.body}"></div>
    </div>


</section>


</body>
</html>