<!DOCTYPE html>
<html lang="pl" layout:decorator="layout/base"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<section layout:fragment="content">

    <h1>Posts</h1>
    <small sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/addPost}">Add new post</a></small>
    <div th:each="post : ${posts}">
        <a th:href="@{|/posts/${post.id}|}"><h2 th:text="${post.title}"></h2></a>
        <p th:utext="${post.body}"></p>
    </div>


</section>


</body>
</html>